<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <listeners>
        <listener class-name="TestListener"/>
    </listeners>

    <test name="All Tests">
        <packages>
            <package name="ui"/>
            <package name="api"/>
        </packages>
    </test>

</suite>